<template>
  <div>
    <h1 class="centralizado">{{ titulo }}</h1>
    
    <p v-show="mensagem" class="centralizado">{{ mensagem }}</p>
    <input type="search" class="filtro" @input="filtro = $event.target.value" placeholder="filtre por parte do título">

    <ul class="lista-fotos">
      <li class="lista-fotos-item" v-for="foto of fotosComFiltro" :key="foto.id">

        <meu-painel :titulo="foto.titulo">
            <imagem-responsiva :url="foto.url" :titulo="foto.titulo"/>
            <meu-botao tipo="button" rotulo="REMOVER" @botaoAtivado="remove(foto)" 
            :confirmacao="true" estilo="perigo"/>
        </meu-painel>

      </li>
    </ul>
  </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/ImagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';

export default {

  components: {
    'meu-painel' : Painel, 
    'imagem-responsiva': ImagemResponsiva,
    'meu-botao': Botao
  },

  data() {

    return {
      mensagem: '',
      titulo: 'Alurapic', 
      fotos: [], 
      filtro: ''
    }
  },

  computed: {

    fotosComFiltro() {

      if(this.filtro) {
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.fotos.filter(foto => exp.test(foto.titulo));
      } else {
        return this.fotos;
      }
    }
  },

  methods: {
        remove(foto) {
          let mensagem = '';
          this.resource.delete({ id: foto._id})
          .then(
              () => {
                let indice = this.fotos.indexOf(foto); // acha a posição da foto na lista
                this.fotos.splice(indice, 1); // a instrução altera o array
                this.mensagem = 'Foto removida com sucesso'
              }, 
              err => {
                this.mensagem = 'Não foi possível remover a foto';
                console.log(err);
              }
            )
        }
  },

  created() {

     // parametrizando o endereço

    this.resource = this.$resource('v1/fotos{/id}');

    this.resource
      .query()
      .then(res => res.json())
      .then(fotos => this.fotos = fotos, err => console.log(err));
      
  }
}

</script>

<style>

  .centralizado {

    text-align: center;
  }

  .lista-fotos {
    list-style: none;
  }

  .lista-fotos .lista-fotos-item {

    display: inline-block;
  }

  .filtro {

    display: block;
    width: 100%;
  }
</style>
